body{
    background: #f5f5f5;
}
.register{
    width: 1263px;height: 532px;
    div{background: white;}
    .box{
        width: 998px;height: 532px;margin-left: 132px;padding-top:30px ;position: relative;
        .reg{
            width: 427px;float: left;
            i{color: red;margin-right: 5px;}
            span{
                color: #515151;font-size: 14px;
            }
            input{
                width: 269px;height: 38px;outline: none;border: none;border: 1px solid #999999;
            
            }
            div{
                margin-top: 25px;float: right;
            }
            .str{
                float: right;margin-top: 5px;
                p{
                    float: left;font-size: 12px;color: #515151;
                }
                div{
                    width: 34px;height: 17px;background: #c4c4c4;color: white;float: left;font-size: 12px;
                    margin-left: 10px;text-align: center;line-height: 17px;margin-top: 0px;
                }
            }
            div:nth-child(7){
                font-size: 14px;
                input{
                    width: 14px;height: 14px;margin-right: 5px;
                }
            }
            div:nth-child(8){
                input{
                    background: #6e9b0c;border: none;border-radius: 3px;font-size: 18px;color: white;
                }
            }
            
        }
        .pic{
            width: 323px;height: 260px;float: right;margin-top: 80px;margin-right:30px ;
            img{
                width: 323px;height: 260px;
            }
        }
        .headx{
            width: 160px;height: 38px;font-size: 16px;text-align: center;line-height: 38px;
            position: absolute;left: 365px;top:-38px
        }
        .p1{
            position: absolute;right: 20px;top:-25px
        }
        
        .reg_name_span1,.reg_name_span2{position: absolute;top: 63px ;left: 445px;color: red;font-size: 14px;display: none;}
        .reg_name_span3{position: absolute;top: 63px ;left: 445px;color: green;font-size: 14px;display: none;}
        .reg_email_span1{position: absolute;top: 127px ;left: 445px;color: red;font-size: 14px;display: none;}
        .reg_email_span2{position: absolute;top: 127px ;left: 445px;color: green;font-size: 14px;display: none;}
        .reg_pd_span1{position: absolute;top:190px ;left: 445px;color: red;font-size: 14px;display: none;}
        .reg_pd_span2{position: absolute;top: 190px ;left: 445px;color: green;font-size: 14px;display: none;}
        .regx_pd_span1{position: absolute;top: 274px ;left: 445px;color: red;font-size: 14px;display: none;}
        .regx_pd_span2{position: absolute;top: 274px ;left: 445px;color: green;font-size: 14px;display: none;}
        .regx_phone_span1{position: absolute;top: 339px ;left: 445px;color: red;font-size: 14px;display: none;}
        .regx_phone_span2{position: absolute;top: 339px ;left: 445px;color: green;font-size: 14px;display: none;}
    }
    
}
